@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";

* {
    font-size: 20px;
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
}

body {
    background-color: white;
}

.content {
    margin: 0 auto;
    width: 75%;
}

td {
    padding: 5px;
}

.term-name {
    font-size: 30px;
}

.course-code {
    width: 20%;
}

.course-name {
    width: 70%;
}

.year-input {
    width: 40%;
}

.dark-theme-btn {
    float: right;
}

.term-header {
    background-color: #828282;
}

@media only screen and (max-width: 800px) {
    * {
        font-size: 22px;
        font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    }

    .content {
        width: 90%;
    }

    .course-code {
        width: 15%;
    }

    .course-name {
        width: 80%;
    }

    .year-input {
        width: 100%;
    }

    .dark-theme-btn {
        float: left;
        padding-bottom: 10%;
    }
}