<!DOCTYPE html>
<head>
    <title>Courses</title>
    {% if dark_theme  %}
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-mtS696VnV9qeIoC8w/PrPoRzJ5gwydRVn0oQ9b+RJOPxE1Z1jXuuJcyeNxvNZhdx" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style-dark.css') }}">
    {% else  %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endif  %}
</head>

<body>
    <div style="float:right;padding-right:20px">
        <a href="{{ url }}">Go to Original Page</a>
    </div>
    <section class="content">
        <table class="table">
            <thead>
                <tr>
                    <th class="course-code">Code</th>
                    <th class="course-name">Name</th>
                    <th>Program</th>
                </tr>
            </thead>
            <tbody>
                {% for t in terms.keys() %}
                    <table class="table table-striped">
                        {% if dark_theme  %}
                        <thead>
                        {% else  %}
                        <thead class="thead-dark">
                        {% endif  %}
                            <tr class="term-header">
                                <th>{{ t }}</th><th></th><th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in terms[t] %}
                                <tr>
                                    <td class="course-code"><a href="{{ c.url }}" target="_blank">{{ c.code }}</a></td>
                                    <td class="course-name">{{ c.name }}</td>
                                    <td>{{ c.program }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>
