<!DOCTYPE html>
<head>
    <title>ECE Calendar</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% if dark_theme %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style-dark.css') }}">
    {% else  %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endif  %}
</head>

<body>
    <section class="content">
        <h1>
            ECE Undergrad Calendar
        </h1>
    </section>
    <section class="content">
        <div class="dark-theme-btn">
            {% if dark_theme  %}
            <button class="btn btn-secondary" onclick="location.href='/'">Light Theme</button>
            {% else  %}
            <button class="btn btn-secondary" onclick="location.href='/dark'">Dark Theme</button>
            {% endif  %}
        </div>
        <div class="year-input">
            <form class="form-group" action="" method="POST">
                <p><label for="sel1">Select a beginning year:</label>
                    <select class="form-control" name="year" id="sel1">
                        <option>2016</option>
                        <option>2017</option>
                        <option>2018</option>
                    </select></p>
                    <p><input class="form-control" type="submit" name="submit"></p>
                </form>
            </div>
        </section>
</body>
